<form action="/api/users" method="post">
    <label>Email</label><input type="text" name="email" id="email">
    <label>Password</label><input type="password" name="password" id="password">
    <input type="submit" value="Registrarse">
</form>